@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h2>Your stored counters</h2> 

    @*@foreach (var counter in Model.Counters ?? new List<Counter>()) {
        <form method="post" asp-controller="Counter" asp-action="Update">
            <p>Name: @counter.Name</p>
            <label asp-for="@counter.Count">Count:</label>
            <input type="number" name="counterCount" />

            <input type="submit" />
        </form>
    }

    <h2>Add new counter</h2>
    <div>
        <form method="post" asp-controller="Counter" asp-action="Create">
            <label asp-for="NewCounterName">Name:</label>
            <input type="text" name="NewCounterName" />

            <label asp-for="NewCounterCount">Count:</label>
            <input type="number" name="NewCountercount"/>

            <input type="submit" />
        </form>
    </div>*@

</div>
