@using CounterManagerWeb.Api
@model CounterModel
@{
    <form id="create-counter" method="post" asp-controller="Counter" asp-action="Create">
        <label asp-for="Name">Name:</label>
        <input id="create-counter-name" type="text" name="Name" />

        <label asp-for="Count">Count:</label>
        <input id="create-counter-count" type="number" name="Count" />

        <input id="create-counter-submit" type="submit" />
    </form>
}
